* {
    caret-color: transparent;
}

#snakeGrid {
    display: flex;
    width: 50%;
    margin: auto;
    /*background-image: url("https://i.imgur.com/S4K5bGe.png");*/
    background-image: url("https://i.imgur.com/wMnX7qD.png");
    background-size: 100%;
}

#square:after {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
}

#progressBar {
    display: none;
    width: 50%;
    outline: 5px solid black;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("https://i.imgur.com/yRZ2P9X.png");
    background-size: cover;
}

canvas {

}

html {
    overflow: hidden;
}
